[program:content-verification-check-personal]
process_name=%(program_name)s_%(process_num)02d
command=php8.0 {{working_dir_content_verification}}/artisan queue:work --queue=monster-local-check-personal --timeout 86400
autostart=true
autorestart=true
user=vagrant
numprocs=1
redirect_stderr=true
stdout_logfile={{working_dir_content_verification}}/storage/logs/content-verification-check-personal.log