[Unit]
Description=PM2 process manager for Monster chat-server
Documentation=https://pm2.keymetrics.io/
After=network.target

StartLimitIntervalSec=200
StartLimitBurst=10

[Service]
Type=forking
User=vagrant
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
Environment=PATH=/home/vagrant/.composer/vendor/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=PM2_HOME=/home/vagrant/.pm2
PIDFile=/home/vagrant/.pm2/pm2.pid
Restart=on-failure

WorkingDirectory=/home/vagrant/monster/www/chat-server/dist

# we need to wait during startup for the mount to be created by Vagrant
Restart=always
RestartSec=15

ExecStart=/usr/lib/node_modules/pm2/bin/pm2 start ecosystem.config.js
ExecReload=/usr/lib/node_modules/pm2/bin/pm2 reload all
ExecStop=/usr/lib/node_modules/pm2/bin/pm2 kill

[Install]
WantedBy=multi-user.target
